<div class="chart-container" *ngIf="data && (data.length > 0)">
    <ngx-charts-area-chart-stacked
        [scheme]="colorScheme"
        [results]="data"
        [legend]="options.showLegend"
        [xAxis]="options.showXAxis"
        [yAxis]="options.showYAxis"
        [showXAxisLabel]="options.showXAxisLabel"
        [showYAxisLabel]="options.showYAxisLabel"
        [xAxisLabel]="options.xAxisLabel"
        [yAxisLabel]="options.yAxisLabel"
        [timeline]="options.timeline">
        <!-- [autoScale]="options.autoScale"
        [roundDomains]="options.roundDomains"> -->
    </ngx-charts-area-chart-stacked>
</div>
<no-data *ngIf="(!data) || (data.length <= 0)"></no-data>