<div *ngIf="false" class="card-container">

    <div class="card">
        <neu-charts-pie [data]="single" [options]="options" (onSelect)="mPartClicked($event)"></neu-charts-pie>
    </div>

    <div class="card">
        <neu-charts-donut [data]="single" [options]="donutOptions" (onSelect)="mPartClicked($event)"></neu-charts-donut>
    </div>

    <div class="card">
        <neu-charts-donut-advanced [data]="single" (onSelect)="mPartClicked($event)"></neu-charts-donut-advanced>
    </div>

    <div class="card">
        <neu-charts-donut-grid [data]="single" (onSelect)="mPartClicked($event)"></neu-charts-donut-grid>
    </div>

</div>

<div *ngIf="false" class="card-container">

    <div class="card">
        <neu-charts-bar-vertical [data]="single" (onSelect)="mPartClicked($event)"></neu-charts-bar-vertical>
    </div>
    
    <div class="card">
        <neu-charts-bar-horizontal [data]="single" (onSelect)="mPartClicked($event)"></neu-charts-bar-horizontal>
    </div>

    <div class="card">
        <neu-charts-bar-vertical-grouped [data]="multi" (onSelect)="mPartClicked($event)"></neu-charts-bar-vertical-grouped>
    </div>

    <div class="card">
        <neu-charts-bar-horizontal-grouped [data]="multi" (onSelect)="mPartClicked($event)"></neu-charts-bar-horizontal-grouped>
    </div>
    
    <div class="card">
        <neu-charts-bar-vertical-stacked [data]="multi" (onSelect)="mPartClicked($event)"></neu-charts-bar-vertical-stacked>
    </div>

    <div class="card">
        <neu-charts-bar-horizontal-stacked [data]="multi" (onSelect)="mPartClicked($event)"></neu-charts-bar-horizontal-stacked>
    </div>

    <div class="card">
        <neu-charts-bar-vertical-normalized [data]="multi" (onSelect)="mPartClicked($event)"></neu-charts-bar-vertical-normalized>
    </div>

    <div class="card">
        <neu-charts-bar-horizontal-normalized [data]="multi" (onSelect)="mPartClicked($event)"></neu-charts-bar-horizontal-normalized>
    </div>

</div>

<div *ngIf="false" class="card-container">

    <div class="card">
        <neu-charts-line [data]="multi" [options]="lineOptions" (onSelect)="mPartClicked($event)"></neu-charts-line>
    </div>

    <div class="card">
        <neu-charts-area [data]="multi" [options]="lineOptions" (onSelect)="mPartClicked($event)"></neu-charts-area>
    </div>

    <div class="card">
        <neu-charts-area-stacked [data]="multi" [options]="lineOptions" (onSelect)="mPartClicked($event)"></neu-charts-area-stacked>
    </div>

    <div class="card">
        <neu-charts-area-normalized [data]="multi" [options]="lineOptions" (onSelect)="mPartClicked($event)"></neu-charts-area-normalized>
    </div>

</div>

<div *ngIf="false" class="card-container">

    <div class="card">
        <neu-charts-heat [data]="multi" [options]="mapOptions" (onSelect)="mPartClicked($event)"></neu-charts-heat>
    </div>

    <div class="card">
        <neu-charts-tree [data]="single" (onSelect)="mPartClicked($event)"></neu-charts-tree>
    </div>

</div>

<div *ngIf="true" class="card-container">

    <div class="card">
        <neu-charts-combo-bar-line [dataBar]="single" [dataLine]="comboLine" (onSelect)="mPartClicked($event)"></neu-charts-combo-bar-line>
    </div>

</div>